<main class="body_panel">
    <div class="row">
        <div class="col-xx-12">
            <h2 class="mt-2 mb-3 d-block">تیکت <i class="fa-solid fa-chevron-left"></i> سلام</h2>
            <div class="acc_info_ mt-0 mb-3">
                <div class="acc_info_body">
                    <div class="ticket_info mb-3">
                        <div>
                            <i class="fa fa-calendar-check"></i>تاریخ:13 دی 1402 - 15:11
                        </div>
                        <div>
                            <i class="fa fa-grid"></i>دپارتمان:واحد پشتیبانی
                        </div>
                    </div>
                    <div class="ticket_msg mb-2 d-flex ">
                        <img alt=""
                            src="https://secure.gravatar.com/avatar/f504b6be2726c5fe79cb863d4d4cb182?s=50&amp;d=mm&amp;r=g"
                            srcset="https://secure.gravatar.com/avatar/f504b6be2726c5fe79cb863d4d4cb182?s=100&amp;d=mm&amp;r=g 2x"
                            class="avatar avatar-50 photo" height="50" width="50" decoding="async">
                        <div class="ticket_msg_box">
                            سلام مجدد
                            <div class="ticket_msg_info d-flex align-items-center justify-content-between">
                                <span>3 دقیقه پیش</span>
                                <span>memar</span>
                            </div>
                        </div>
                    </div>
                    <div class="ticket_msg mb-2 d-flex ">
                        <img alt=""
                            src="https://secure.gravatar.com/avatar/f504b6be2726c5fe79cb863d4d4cb182?s=50&amp;d=mm&amp;r=g"
                            srcset="https://secure.gravatar.com/avatar/f504b6be2726c5fe79cb863d4d4cb182?s=100&amp;d=mm&amp;r=g 2x"
                            class="avatar avatar-50 photo" height="50" width="50" decoding="async">
                        <div class="ticket_msg_box">
                            خدافظ
                            <div class="ticket_msg_info d-flex align-items-center justify-content-between">
                                <span>1 ثانیه پیش</span>
                                <span>memar</span>
                            </div>
                        </div>
                    </div>
                    <form method="post" class="ticket_send_form">
                        <textarea name="msg" class="rcp-input" id="msg" placeholder="پیام شما"></textarea>
                        <button type="submit" name="send_msg"><i class="fa fa-paper-plane-top"></i> ارسال پیام</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>