<app-main-slider></app-main-slider>
<div class="col-12">
    <div class="row justify-content-around">
        <div class="col-12 col-md-4">
            <app-middle-slider title="برترین ها"></app-middle-slider>
        </div>
        <div class="col-12 col-md-4">
            <app-middle-slider sort="primary_release_date" title="جدیدترین ها"></app-middle-slider>
        </div>
    </div>
</div>
<app-gnere-slider title="ژانرهای محبوب"></app-gnere-slider>
<div class="row  container m-auto  rtl">
    <div class="col-12 col-md-8">
        <app-movie-list title="فیلم های برتر"></app-movie-list>
    </div>
    <div class="col-12 col-md-4">
        <app-movie-list-widget title="برترین ها"></app-movie-list-widget>
        <app-slider-widget title="برترین نقدها"></app-slider-widget>
    </div>
</div>