<div class="rtl page_404" id="not-found">
    <div class="box">
        <div class="box__ghost">
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="box__ghost-container">
                <div class="box__ghost-eyes">
                    <div class="box__eye-left"></div>
                    <div class="box__eye-right"></div>
                </div>
                <div class="box__ghost-bottom">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="box__ghost-shadow"></div>
        </div>
    </div>
    <!-- ghost -->

    <h2>خطای ۴۰۴</h2>
    <p>صفحه‌ای که به دنبال آن بودید یافت نشد</p>
    <a routerLink="/">بازگشت به صفحه خانه</a>
</div>